/* Sistema creado por: Jeremy Cecchi, Fabian Olcay y Dario Cahuachia  */

/* MAIN COLORS  -----------*/

:root {
    --color1: #002E7B;
    --color2: #0043B6;
    --color3: #5271FF;
    --color4: #1CDAFF;
}

/* MAIN STYLES ----------- */

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: url(https://img.freepik.com/vector-gratis/gradiente-desenfoque-fondo-abstracto-azul-rosa_53876-117324.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1713571200&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96vh;
}

.background-system {
    display: flex;
    align-items: center;
    background: #ededfc;
    border: solid 10px #ededfc;
    box-shadow: 0 20px 15px 0 #0000002d;
    border-radius: 30px;
    height: 42rem;
    width: 88rem;
    gap: 8px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-radius: 30px;
    height: 42rem;
    width: 15rem;
}

.main-system {
    background: #ffffff;
    border-radius: 30px;
    height: 42rem;
    width: 88rem;
    position: relative;
}

.main-body {
    padding: 1rem 2rem;
    height: 42rem;
}

.icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 2rem 0;
    width: 100%;
}

.menu-links {
    height: 27rem;
    width: 100%;
}

.menu-links ul, .other-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.menu-button {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.2em 2rem;
    font-weight: bold;
    list-style: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
    color: #000000;
}

.menu-button:hover {
    background-color: #dee4ff;
    border-radius: 1rem;
}

.selected {
    background-color: #dee4ff;
    border-radius: 1rem;
    color: var(--color2);
}

.noselected {
    background-color: transparent;
    color: #000000;
}

.sign-off:hover {
    background-color: transparent;
    color: #e73939;
}

.icon-home {
    padding: 0 0.8rem 0 0;
    width: 14%;
}

/* INFO STYLES ----------- */

.home-info, .users-info {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    height: 40rem;
    width: 70.8rem;
}

.hosted-info, .bedrooms-info,
.record-info, .config-info, .audit-info {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    height: 40rem;
    width: 70.8rem;
}

.active { display: flex; }

/* CONTENT INFO ----------- */

.option-title {
    color: var(--color2);
}

.data {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    position: relative;
}

.lists-bedrooms {
    display: grid;
    place-items: center;

    background-color: #f9faff;
    border: solid 2px #e9e9ff;
    border-bottom-width: 6px;
    border-radius: 1rem;
    width: 50rem;
    height: 32rem;
}

.hosted-clients {
    display: grid;
    place-items: center;

    background-color: #f9faff;
    border: solid 2px #e9e9fa;
    border-bottom-width: 6px;
    border-radius: 1rem;
    width: 20rem;
    height: 32rem;
}

.list-of-hosted, .list-of-bedrooms,
.record-of-hosted, .configuration,
.users-system, .auditorit {
    padding: 1rem;
    background-color: #f9faff;
    border: solid 2px #e9e9fa;
    border-bottom-width: 6px;
    border-radius: 1rem;
    width: 69rem;
    height: 32rem;
}

.users-system {
    display: flex;
    flex-direction: column;
}

/* USERS AUDIT | ADMINISTRADOR ----------- */

.audit-data { padding: 0.5rem; }

.data-user {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: #717483;
    padding: 0 1rem;
}

.user-add-data { background: #edffeb; }
.adduser { color: #347234; }

.user-delete-data { background: #ffebeb; }
.deleteuser { color: #a34f4f;}

.user-edit-data { background: #ebefff; }
.edituser { color: #4f68a3; }

.user-name-data { color: #000000; }
.info-data { font-size: 10px; }

/* USER ACCOUNT */

.user-account {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
    position: absolute;
    top: 2rem;
    right: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    outline: none;
}

.user-icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info-section {
    margin-left: 0.5rem;
}

.user-name, .user-rol {
    margin: 0;
}

.user-name {
    font-size: 1rem;
    font-weight: bold;
}

.user-rol {
    font-size: 0.8rem;
    color: #b1b1b1;
}

/* DATA TABLE STYLE ----------- */

.lista_botones{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 1rem 0;
    gap: 1rem;
}
.crear{
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    background-color: #5271FF;
    transition: 0.3s;
    border-radius: 1rem;
    border: none;
    height: 2.3rem;
    width: 9rem;
    font-size: .8rem;
    cursor: pointer;
    font-weight: bold;  
}

.crear:hover {
    background-color: #374daf;
    box-shadow: 0 5px 10px 0 rgb(185, 181, 255);
    transition: 0.3s;
}

.buscar {
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 2.8rem;
    width: 22rem;
    height: 1.3rem;  
    border: solid 2px #e9e9fa; 
    color: #717483; 
    outline: none;
    transition: 0.3s;
}

.buscar:focus {
    border: solid 2px #c8c8d6;  
    transition: 0.3s;
}

.inptbuscar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717483;
}

.bi-search {
    position: absolute;
    margin-left: 1.2rem;
    top: 1;
    bottom: 1;
    left: 0;
    right: 0;
}

.table_border{
    padding: 1rem;
    max-width: 100%;
    border: solid 2px #e9e9fa;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 26.5rem;
}

.plantilla_huespedes{
    width: 100%;
    font-family: "Nunito", sans-serif;
}

thead > tr {
    font-weight: bold;
    color: var(--color2);
}

tbody > tr {
    color: #717483;
}

th, td{
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: solid 1px #e9e9fa;
    
}
th{
    text-align: left;
    
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.actualizar, .eliminar{
    border: none;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    font-weight: bold;
    border-radius: .2rem;
    cursor: pointer;
    width: 4.2rem;
    height: 2rem;
}
.actualizar{
    background-color: #5271FF;
    transition: 0.3s;
}

.actualizar:hover {
    background-color: #374daf;
    transition: 0.3s;
}

.eliminar {
    background-color: #e73939;
    transition: 0.3s;
}

.eliminar:hover {
    background-color: #a22525;
    transition: 0.3s;
}

/* SIGNOFF | MODAL ----------- */

.alert {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.active { display: flex; }

.alert-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.527);
    border-bottom: solid 0.5rem var(--color2);
    height: 15rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

@keyframes alert-animation {
    from { margin-bottom: 200rem; } 
    to { margin-bottom: 0rem; }
}

.alert-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.alert-text {
    text-align: center;
}

.alert h2 {
    margin: 0 0 0 0.5rem;
}

.alert-text p {
    margin-bottom: 1rem;
    color: #757575;
}

.alert-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.exitButton {
    background-color: #fd4d4d;
}

.cancelButton {
    background-color: #5271FF;
}

.okButton {
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    height: 2.2rem;
    width: 7rem;
    transition: 0.3s;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: #374daf;
    box-shadow: 0 5px 10px 0 rgb(185, 181, 255);
    transition: 0.3s;
}

.exitButton:hover {
    background-color: #e73939;
    box-shadow: 0 8px 20px 0 rgb(209, 181, 255);
    transition: 0.3s;
}

/* USER PROFILE | MODAL ----------- */

.user-profile {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.user-profile { display: none; }
.active { display: flex; }

.profile-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 40rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.profile-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-img img {
    padding: 1rem 6rem;
    border-radius: 1rem;
    background: url(https://img.freepik.com/free-vector/paper-style-smooth-background_52683-64676.jpg);
    background-position: center;
}

.profile-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.user-profile-data {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.profile-title {
    margin: 0 0 1rem 0;
    padding: 5px 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: #000000;
    border-bottom: solid 3px var(--color3);
}

.pdata {
    color: #0043B6;
}

.info-p-data {
    display: flex;
    flex-direction: column;
}

.info-p-data b {
    font-weight: bold;
}

.inpt-profile {
    font-family: "Nunito", sans-serif;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    border-radius: 5rem;
    border: solid 2px #d4d4e5; 
    outline: none;
}

.inpt-profile::placeholder {
    color: #ff1c1c;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.returnButton {
    background-color: #5271FF;
}

.returnButton:hover {
    background-color: #374daf;
    transition: 0.3s;
    box-shadow: 0 5px 10px 0 rgb(185, 181, 255);
}


/* HOSTED CREATE | MODAL ------------ */

.create {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.create-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.create{ display: none; }
.active { display: flex; }

.crearButton {
    background: #599f59;
}

.crearButton:hover {
    background-color: #3d713d;
    box-shadow: 0 5px 10px 0 rgb(185, 181, 255);
    transition: 0.3s;
}

.error {
    border-color: #ff1c1c;
    /* background-color: hsl(0, 100%, 98%); */
}

.warning {
    color: #ff1c1c;
}

/* HOSTED EDIT | MODAL ----------- */

.edit {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.edit-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.edit { display: none; }
.active { display: flex; }

/* HOSTED DELETE | MODAL ----------- */

.alert-eliminar {
    display: none; 
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.eliminar-fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.527);
    height: 15rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.alert-eliminar { display: none; }
.active { display: flex; }

.pname-text {
    color: var(--color2);
}

.cancelButton {
    background-color: #5271FF;
}

.cancelButton:hover {
    background-color: #374daf;
    box-shadow: 0 5px 10px 0 rgb(185, 181, 255);
    transition: 0.3s;
}

/* BEDROOM CREATE | MODAL ----------- */

.create-bedroom {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.create-bedroom-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 40rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.create-bedroom { display: none; }
.active { display: flex; }

.b-create-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
}

.b-data1, .b-data2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* BEDROOM EDIT | MODAL ----------- */

.edit-bedroom {
    display: none; /* none */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.edit-bedroom-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 40rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.edit-bedroom { display: none; }
.active { display: flex; }

.b-edit-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
}

/* BEDROOM DELETE | MODAL ----------- */

.delete-bedroom {
    display: none; 
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.delete-bedroom-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.527);
    height: 15rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.delete-bedroom { display: none; }
.active { display: flex; }

/* USER CREATE | MODAL ----------- */

.create-user {
    display: none; 
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.create-user-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.create-user { display: none; }
.active { display: flex; }

/* USER EDIT | MODAL ----------- */

.edit-user {
    display: none; 
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.edit-user-card {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    background: #ffffff;
    height: 26rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.edit-user { display: none; }
.active { display: flex; }

/* USER DELETE | MODAL ----------- */

.delete-user {
    display: none; 
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ab;
    backdrop-filter: blur(2px);
    position: fixed;
}

.delete-user-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.527);
    height: 15rem;
    width: 30rem;
    border-radius: 1rem;

    animation-name: alert-animation;
    animation-duration: 0.5s;
}

.delete-user { display: none; }
.active { display: flex; }